{% for key, value in groupNamesWithFirstUrlSegment -%}
{% set domainClassName = ucFirst(_.camelCase(key)) + 'Domain' -%}
import {{ domainClassName }} from '@/domains/{{ domainClassName }}';
{% endfor -%}

export {
  {% for key, value in groupNamesWithFirstUrlSegment -%}
  {% set domainClassName = ucFirst(_.camelCase(key)) + 'Domain' -%}
  {{ domainClassName }},
  {% endfor %}
};
