import express = require('express')
import config from '../../config'
{% for groupName, firstUrlSegment in groupNamesWithFirstUrlSegment -%}
import {{prettifyRouteName(groupName)}}Routes from './routes/{{prettifyRouteName(groupName)}}Routes'
{% endfor -%}

export default function (app: express.Application, basePath = '') {
  {% for groupName, firstUrlSegment in groupNamesWithFirstUrlSegment -%}
    {% if(endsWith(swagger.basePath, '/')) %}
  app.use(basePath + '{{swagger.basePath}}{{firstUrlSegment}}', {{prettifyRouteName(groupName)}}Routes())
    {% else %}
  app.use(basePath + '{{swagger.basePath}}/{{firstUrlSegment}}', {{prettifyRouteName(groupName)}}Routes())
    {% endif %}
  {%- endfor %}

  if (config.loadSwaggerUIRoute) {
    {% if(endsWith(swagger.basePath, '/')) %}
    app.use(basePath + '{{ swagger.basePath }}swagger', require('./routes/swaggerRoutes').default())
    {% else %}
    app.use(basePath + '{{ swagger.basePath }}/swagger', require('./routes/swaggerRoutes').default())
    {% endif %}
  }
}
