import config from '@/config';
import express from 'express';
{%- for groupName, firstUrlSegment in groupNamesWithFirstUrlSegment %}
import {{prettifyRouteName(groupName)}}Routes from './routes/{{prettifyRouteName(groupName)}}Routes';
{%- endfor %}

export interface RoutesImporter {
  basePath?: string
}

export const baseUrl = '{{swagger.basePath}}';

export default function (app: express.Application, options: RoutesImporter = {basePath: baseUrl}) {
  const basePath = (options.basePath || '').replace(/\/+$/, '');

  {% for groupName, firstUrlSegment in groupNamesWithFirstUrlSegment -%}
  app.use(basePath + '/{{firstUrlSegment if firstUrlSegment != 'root' else ''}}', {{prettifyRouteName(groupName)}}Routes());

  {% endfor -%}

  if (config.loadSwaggerUIRoute) {
    app.use(basePath + '/swagger', require('./routes/swaggerRoutes').default());
  }
}
