import { {% for interface in importInterfaces(operations) -%}{{ interface }},{%- endfor %} } from '@/http/nodegen/interfaces';
{% set domainClassName = ucFirst(operation_name) + 'Domain' %}
{% set domainInterfaceName = ucFirst(operation_name) + 'DomainInterface' %}
import { {{domainInterfaceName}} } from '@/http/nodegen/domainInterfaces/{{domainInterfaceName}}';
{% if pathMethodsHaveAttr(operations, 'security', 'jwtToken') %}import {JwtAccess} from '@/http/nodegen/interfaces/JwtAccess';{% endif %}
{% if pathMethodsHaveAttr(operations, 'x-passRequest') %}import NodegenRequest from '../http/interfaces/NodegenRequest';{% endif %}
{% if mockServer %}import {{ ucFirst(operation_name) }}DomainMock from './__mocks__/{{ ucFirst(operation_name) }}DomainMock'{% endif %}

class {{ domainClassName }} implements {{ domainInterfaceName }} {
  {% for op in operations -%}
    {% for method, path in op.path -%}
      {% if isValidMethod(method) %}
        {% set securityNames = getSecurityNames(path, swagger) -%}
        {% set description = path.description | trim if path.description else 'No description written' %}
        {% set docBlock = '
  /**
   * Operation ID: ' + path.operationId + '
   * Summary: ' + path.summary %}
      {% set docBlock = docBlock + '
   * Description: ' + description %}

{% if securityNames %}
  {% set docBlock = docBlock + '
   * Security header(s): ' + securityNames %}
{% endif %}
{% if path['x-permission'] %}
  {% set docBlock = docBlock + '
   * Permission string: ' + path['x-permission'] %}
{% endif %}
{% if path['x-async-validators'] %}
  {% set docBlock = docBlock + '
   * Pre-domain async-validators: ' + path['x-async-validators'] %}
{% endif %}
  {% set docBlock = docBlock + '
  **/' %}

  {{ docBlock }}
  {%- set singleSuccessResponse = getSingleSuccessResponse(path['x-response-definitions']) %}
  public async {{ path.operationId }} ({{ pathParamsToDomainParams(method, path, true, false, 'params') }}): Promise<{{ path['x-response-definitions'][singleSuccessResponse] if singleSuccessResponse else 'any' }}> {
    {% if mockServer %}
    return {{ ucFirst(operation_name) }}DomainMock.{{ path.operationId }}({{ pathParamsToDomainParams(method, path, false, undefined, 'params') }});
    {% else %}
    return {};
    {% endif %}
  }
      {% endif %}
    {%- endfor %}
  {%- endfor %}
}

export default new {{ domainClassName }}();
